snippet base
	<template>
		$1
	</template>

	<script>
	export default{
		$2	
	}
	</script>

	<style lang="postcss">
	$3
	</style>
snippet routerv
	<router-view/>
snippet data
	data () {
		return {
			$1
		}
	}
