snippet base
	<template lang="pug">
	$2
	</template>

	<script>
	export default {
		name: '$1'
	}
	</script>

	<style lang="stylus">
	$3
	</style>
snippet routerv
	<router-view/>
snippet data
	data () {
		return {
			$1
		}
	}
